body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color:#fcbcd9;
    transform-origin: top left;
}

@font-face {
    font-family: 'serial';
    src: url('SerialA-Input.ttf');
  }


#motion-permission {
    position: fixed;
    font-family: "Rubik Puddles", serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 18px;
    font-family: "instrument serif";
    color:blue;
    background-color:#fcbcd9;
    border: none;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 13, 255, 0.2);
}

#stars-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 9999; 
}



h1 {
    color: #fcbcd9;
    font-size: 45px;
    padding-left: 10px;
    text-align: center;
    font-family: "Rubik Puddles", serif;
    position: fixed;

    font-weight: normal;
    margin:0;
    top:0;
    z-index: 777;

}

/*Haalloooo*/
a {
    color: #fcbcd9;
    font-size: 25px;
    padding-left: 10px;
    bottom: 5px;
    font-family: "serial";
    position: fixed;
    font-weight: normal;
    text-decoration: none;
    z-index: 777;

}


.top {
    position: fixed;
    z-index: 600;
    width: 100vw;
}

.text-box {
    font-size: 30px;
    color:#fcbcd9;
    background-color:  #001eff;
    width: 290px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family:  "instrument serif";
    position: absolute;
    z-index: 100;
}

.scene-image1 {
    position: absolute;
    width: 300px; 
    height: auto;
    top: 250px; 
    z-index: 30;
    border-radius: 90px;
    box-shadow: 0 0 8px 8px  #fcbcd9 inset;
    left: 100px; 

}

.scene-image2 {
    position: absolute;
    width: 200px; 
    height: auto;
    border-radius: 50px;
    border: 3px solid #fcbcd9;
    top: 2000px; 
    left: 800px; 

}

.scene-image3 {
    position: absolute;
    width: 400px; 
    height: auto;
    top: 400px; 
    left: 1200px; 
    border-radius: 90px;
    box-shadow: 0 0 8px 8px  #fcbcd9 inset;
    z-index: 32;

}


.scene-image4 {
    position: absolute;
    width: 200px; 
    height: auto;
    top: 400px; 
    border-radius: 90px;
    left: 1200px; 
    box-shadow: 0 0 8px 8px  #fcbcd9 inset;

    z-index: 33;
}


.scene-image5 {
    position: absolute;
    width: 500px; 
    height: auto;
    border-radius: 90px;
    top: 800px; 
    left: 1200px; 
    box-shadow: 0 0 8px 8px #fcbcd9 inset;

    z-index: 29;
}


.scene-image6 {
    position: absolute;
    width: 500px; 
    height: auto;
    border-radius: 90px;
    top: 3000px; 
    left: 2000px; 
    box-shadow: 0 0 8px 8px #fcbcd9 inset;

    z-index: 29;
}

.scene-image7 {
    position: absolute;
    width: 500px; 
    height: auto;
    top: 600px; 
    left: 1000px; 
    border-radius: 90px;
    box-shadow: 0 0 8px 8px  #fcbcd9 inset;
     z-index: 29;
}


.scene-image9 {
    position: absolute;
    width: 500px; 
    height: auto;
    top: 100px; 
    left: 2400px; 
    border-radius: 90px;
    box-shadow: 0 0 8px 8px #fcbcd9 inset;
     z-index: 29;
}


.scene-image8{
    position: absolute;
    width: 500px; 
    height: auto;
    top: 1500px; 
    border-radius: 90px;
    left: 1700px; 
    box-shadow: 0 0 8px 8px #fcbcd9 inset;
     z-index: 29;
}


.scene-image10{
    position: absolute;
    width: 500px; 
    height: auto;
    top: 1200px; 
    border-radius: 90px;
    left: 1200px; 
    box-shadow: 0 0 8px 8px #fcbcd9 inset;
     z-index: 29;
}


.back {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 110vw;
    max-height: 110vh;
    z-index: 3;
    pointer-events: none;
}
