/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #e0e0e0;
}

#viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f9f9f9;
    overflow: hidden;
    touch-action: none; /* Prevents scrolling on touch devices */
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}
